asgiref
boto3
botocore
dj-database-url
dj-static
Django
django-appconf
django-ckeditor
django-js-asset
django-multiselectfield
django-phonenumber-field
django-staticfiles
django-storages
docutils
gunicorn
jmespath
phonenumbers
Pillow
psycopg2
python-dateutil
pytz
requests
s3transfer
six
sqlparse
static3
traitlets
urllib3
validators
wheel
